POSTGRES_DB=missionary_archive
POSTGRES_USER=archiver
POSTGRES_PASSWORD=archiver_secret
SECRET_KEY=change_me_in_production_at_least_32_characters
NEXTAUTH_SECRET=change_me_nextauth_secret
ENVIRONMENT=development
